{% extends 'master.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block title %}
	
{% endblock %}

{% block content %}
    <style>
    .hero{
    background-image: url("static/ps9.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position:relative; /*to adjust an element's position without affecting the layout of surrounding elements and to serve as a reference for absolutely positioned child elements.*/
    z-index:2; /*Use z-index to control the stacking order of overlapping elements, ensuring that elements with higher z-index values are displayed on top of those with lower values.*/
}
/*placing an overlay over image*/
.hero::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(21, 20, 51, 0.8);
    z-index: -1;
}
    </style>
	<div class="hero vh-100 d-flex align-items-center" id="home">
    <!-- vh100 gives the hero section to occupy a height of 100 while dflex give it a flex moves it to one side and align items center ensures item is a the center considering height -->
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <!-- the class mx auto now centres the div based on width while text-center centers based on the div-->
                <h1 class="display-4 text-white"> CELESTIALS <br>Leave the hustle to us</h1>
                <!-- the display4 makes the h1 text larger-->
                <p class="text-white my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa
                    dignissimos minus nam, non rem! Aspernatur at doloribus quibusdam, rerum sapiente temporibus velit
                    voluptate? A aperiam architecto maiores quo ullam.</p>
                <a href="{% url 'view_stock' %}" class="btn me-2 btn-primary">View Products</a>
                <!-- me-2 gives a left space for the two buttons primary is the colour of the button-->
                <a href="{% url 'add_stock' %}" class="btn btn-outline-light">Add Products</a>
                <!-- the btn-outline_light makes the button have bright color-->
            </div>
        </div>
    </div>
</div>
{% endblock %}