{% extends 'master.html' %}

{% load static %}

{% block title %}
    <title>Product Sale Details</title>
{% endblock %}




{% block content %}
    <div class="container">
        <div class="row mt-2">

            <table class="table table-bordered">
                <tr>
                <tr>
                    <th> ID</th>
                    <th>Product</th>
                    <th>Initial Quantity</th>
                    <th> Current Quantity</th>
                    <th> Amount</th>
                    <th> Customer</th>
                    <th>Sold By</th>
                    <th>Date</th>


                </tr>
                {% for purchase in purchase %}
                    <tr>
                        <td>{{ purchase.id }}</td>
                        <td>{{ purchase.stocks.product }}</td>
                        <td>{{ purchase.stocks.initial_quantity }}</td>
                        <td>{{ purchase.stocks.quantity }}</td>
                        <td>{{ purchase.amount }}</td>
                        <td>{{ purchase.bought_by }}</td>
                        <td>{{ purchase.sold_by }}</td>
                        <td>{{ purchase.created_at }}</td>

                    </tr>
                {% endfor %}


            </table>
        </div>
    </div>

{% endblock %}

